@import url('https://rsms.me/inter/inter.css');

//font
$font-family: 'Inter', serif;
$font-size: 16px;
$font-weight: 400;
$line-height: 28px;
$letter-spacing: 0.75px;

//colors
$black: #14142b;
$dark-gray: #6e7191;
$gray: #a0a3bd;
$light-gray: #eff0f7;

$dark-green: #00ba88;
$light-green: #f2fffb;

$dark-red: #ed2e7e;
$light-red: #fff3f8;
